* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

:root {
  --primary: #92847A;
  --secondary: #00BFFF;
  --success: #4CAF50;
  --warning: #FFC107;
  --danger: #F44336;
  --dark: #121212;
  --light: #F5F5F5;
  --gradient: linear-gradient(135deg, var(--primary), var(--secondary));
  --gallery-bg: #c0bdbb;
} 